.main-layout-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
@media (max-width: 1060px) {
    .main-right-bar.home {
        display: none;
    }
}
