.main-container {
    display: flex;
    flex-direction: row;
    background-color: var(--main-light-color);
    flex: 1;
    color: var(--icon-color);
}

.main-content-container {
    flex: 1;
    margin-top: 48px;
}
.main-right-bar {
    width: 240px;
    border: 0px;
    border-left: 1px solid rgba(78, 80, 88, 0.48);
    margin-top: 48px;
}

.main-header-nav-bar-container {
    width: 100%;
    position: fixed;
    top: 0;
    height: 48px;
    z-index: 2;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 1px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 332px;
    align-items: center;
    padding-left: 20px;
    color: var(--icon-color);
    font-weight: 500;
}
.nav-bar-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.nav-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    font-weight: 400;
}

.nav-bar-item.active {
    color: white;
    background-color: var(--hover-color);
}

.seperate-bar--straight {
    height: 50%;
    width: 0.5px;
    background-color: var(--icon-color);
    opacity: 0.2;
    margin-right: 10px;
}

span.nav-bar-item {
    height: auto;
    width: auto;
    padding: 2px 8px;
    border-radius: 5px;
}

span.nav-bar-item:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.nav-bar-item.last {
    margin-left: 10px;
}
.nav-bar-item:hover {
    color: white;
    cursor: pointer;
}
.color--white {
    color: white;
}
.background-color--green {
    background-color: var(--green-dark-color);
}
.main-content-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 20px 20px 30px;
    box-sizing: border-box;
}
.main-home-content-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--main-darker-color);
    color: var(--icon-color);
    justify-content: space-between;
    border-radius: 8px;
}
.main-home-content-header__input {
    background-color: var(--main-darker-color);
    border: 0px;
    width: 90%;
    color: var(--icon-color);
    height: 24px;
    font-size: 15px;
}
.main-home-content-header__input:focus {
    border: 0px;
    outline: 0px;
    outline-offset: 0px;
}
.rotate {
    animation: rotateAnimation 1s ease forwards;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-home-content-item-container__header {
    margin: 20px 0px;
    font-size: 13px;
    font-weight: 500;
}
