body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    --main-light-color: #313338;
    --main-dark-color: #2b2d31;
    --hover-color: #404249;
    --blue-dark: #3b428a;
    --blue-light: #5865f2;
    --font-header-color: #f2f3f5;
    --font-color: #a5aab1;
    --icon-color: #b5bac1;
    --green-light-color: #2dc770;
    --red-color: #f23f42;
    --main-darker-color: #1e1f22;
    --green-dark-color: #248046;
}
